<?xml version="1.0" encoding="UTF-8" ?>
<!--需要的头文件基本信息-->
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
       <!--&lt;!&ndash;设置别名&ndash;&gt;-->
       <!--<typeAliases>-->
              <!--<typeAlias type="cn.com.demo.entity.User" alias="User" />-->
       <!--</typeAliases>-->
       <!--&lt;!&ndash;映射相应的mapper文件&ndash;&gt;-->
       <!--<mappers>-->
              <!--<mapper resource="" />-->
       <!--</mappers>-->
</configuration>

