<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wqt.mapper.LanguageMapper">
       <resultMap id="LanguageResultMapper" type="com.wqt.dto.Language">
              <id column="language_Id" property="languageId"></id>
              <result column="name" property="name"></result>
       </resultMap>

       <select id="findById"   resultMap="LanguageResultMapper">
              SELECT * FROM language  WHERE language.language_Id =#{languageId}
       </select>

</mapper>